body {
    background-image: url(http://www.cerc-ug.org/pic/b/0/296_white-wallpaper.jpg);
    background-size: cover;
    
}

.header {
    background: lightskyblue;
    font-family: 'Orbitron', sans-serif;
    width: 25%;
    height: 80px;
    padding: 5px;
    text-align: center;
}

.instructions {
    background: peachpuff;
    width: 32%;
    height: 300px;
    font-family: 'Righteous', cursive;
    font-size: 12pt;

}

.randomNum {
    background: lightgreen;
    width: 16%;
    height: 90px;
    padding: 3px;
    font-size: 20pt;
    font-weight: bold;
    float: left;
    margin-top: 5px;
}

.winsLossCount {
    float: left;
    width: 15.2%;
    height: 90px;
    padding: 3px;
    font-size: 12pt;
    font-weight: bold;
    background: lightseagreen;
    margin-top: 5px;
    margin-left: 2px;

}

.gemButton {
    clear: both;
    margin-left: 30px;   
}

#one {
    width: 98px;
    height: 92px;
    object-fit: fill;
    margin-top: 15px;
}

#two {
    width: 98px;
    height: 92px;
    object-fit: fill;
    margin-top: 15px;
}

#three {
    width: 98px;
    height: 92px;
    object-fit: fill;
    margin-top: 15px;
}

#four {
    width: 98px;
    height: 92px;
    object-fit: fill;
    margin-top: 15px;

}

.playerScore {
    background: mediumseagreen;
    font-family: 'Shadows Into Light', cursive;
    height: 90px;
    width: 20%;
    font-size: 18pt;

}

@media only screen and (min-width: 600px) {
    .header {
           font-size: 8pt;

    }
    .instructions {
        font-size: 8pt;

    }
}